.landing-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-title {
    font-size: 90px;
    color: var(--black);
    font-family: 'Roboto Mono';
}

.sos-btn {
    font-size: 50px;
    border: none;
    color: var(--red);
    color: white;
    background-color: var(--red);
    border-radius: 50px;
    height: 150px;
    width: 150px;
    font-weight: 800;
    transition: 1s ease;
    margin-top: 20px;
    font-family: 'Roboto Mono';
    box-shadow: 0px 0px 8px 5px rgba(172, 172, 172, 0.322);
}

.sos-btn:hover {
    transform: scale(.9);
}

.card-list {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px 120px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 8px 3px rgba(172, 172, 172, 0.322);
    border-radius: 15px;
    width: 30%;
    padding: 30px 20px;
}
